body,
html {
  width: 100dvw;
  height: 100dvh;
  background-color: #fff !important;

  #root {
    height: 100%;
  }

  --font-inter: 'Inter'
}

body {
  font-family: 'Inter', sans-serif !important;
}
